@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');


*{
    margin:0%;
    padding:0%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

nav {
    display:flex;
    height:10vh;
    background-color: #f4f4f4;
}
nav div {
    display:flex;
    width: 100%;
    align-items:center;
}
nav .left-side ol {
    list-style-type: none;
    margin-left: 10%;
}

nav .left-side {
    padding: 30px;
}
nav .left-side ol li{
    display:inline;
    margin: 30px;
}
nav .left-side ol li a{
    border: 15px 15px;
    text-decoration: none;
    color: black
}
nav .right-side {
    display:flex;
    justify-content: flex-end;
    padding-right: 10%;
    margin-right: 10%;
}
nav .right-side a {
    font-size:15px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
    text-decoration:none;    
}

h2 {
    text-align: center;
    margin: 20px 20px;
}
.form-contact {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-contact label {
    font-weight: 200;
    font-size: 20px
}
.form-contact select,
.form-contact input,
.form-contact textarea {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}
.form-contact form textarea {
    height: 100px;
    resize: none;
}
.form-contact form button {
    padding: 12px 30px;
    color: white;
    background-color: #ec4d37;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 270px;
}
.card {
     border: 1px solid 
     rgb(147, 150, 147);
     padding: 20px 30px;
     border-radius: 10px;
     background-color:
     rgb(228, 231, 228);
     box-shadow: 2px;
     color:rgb(41, 40, 40);
     display:flex;
}
.card .content .image img {
    width: 2%;
    padding: 10px;
    margin: 20px;
}
.card .content button {
    font-weight: auto;
    background-color: rgb(25, 25, 27);
    border-radius: 15px;
    border-bottom: 20px;
    color:whitesmoke;
    padding: 10px;
    margin: 20px;
}
.card .content p{
    padding-left: 20px;
}

.card .content p i{
    padding-left: 10px;

}
.card .content h3{
    margin: 30px, 140px, 30px, 10px;

}
.card .image1 img{
    width: 200px;
}
.personal {
    width: 140vh;
    background-color: purple;
    margin-left: 120px;
    justify-content: center;
    align-items: center;
    display:flex;
}
.personal .container-content {
    display:flex ;
    width:80%;
    justify-content: center;
    background-color: #ec4d37;
}
.container-content .left{
    background-color: aqua;
    flex: 60%;
}
.container-content .right{
    background-color: pink;
    flex: 40%;
}
.content-content .right table {
    border: solid black;
    align-items:center;
}